.MainContainer {
  position: relative;
}
.container-fluid {
  margin: 0;
  padding: 0px;
  position: relative;
  max-width: 665px;
}

.navbar {
  max-width: 665px;
}

.container {
  max-width: 665px;
}

#tabs {
  cursor: pointer; /* this is really important for making tabs work on mobiles*/
  text-align: center;
}

#stage {
  background: url("defaultPhoto.png");
  background-size: 400px 400px;
  background-repeat: no-repeat;
  border: 5px solid #009b2f;
  width: 410px;
  height: 410px;
  left: 50px;
  top: 150px;
  position: absolute;
}

#main {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0px;
  background: #333;
}

.background {
    position: relative;
}
.background img {
    width: 100%;
}

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in {
  display:block !important;
}

.navbar-footer {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-footer-left {
  float: left;
}
.footer-left-elt {
  float: inherit;
  margin-right: 30px;
}

.navbar-footer-right {
  float: right;
}
.footer-right-elt {
  float: inherit;
  margin-left: 30px;
}





