.MainContainer {
  position: relative;
}
.container-fluid {
  margin: 0;
  padding: 0px;
  position: relative;
}

#stage {
  background: #20bb5f;
  border: 5px solid #009b2f;
  width: 210px;
  height: 210px;
  left: 200px;
  top: 200px;
  position: absolute;
}

#main {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0px;
  background: #333;
}

.background {
    position: relative;
}
.background img {
    width: 100%;
}

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}



