#mainSection {
  background: silver;
  height: 600px;
  width: 600px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}

#footerSection {
}
.button {
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
}


